extends layout

block content
  div.container
    div.row
      div.col-md-6
        h1 Welcome #{user.data.name}
        - each friend in friends
          p.lead #{friend.friends.data.name}
          span #{friend.friends.data.name}s job: #{friend.friends.data.job}