extends layout

block content
  div.container
    div.row
      div.col-md-6
        h1 Welcome #{user.data.name}
        hr
        - if (otherstatus === 'Lord')
          h2 Employers in #{user.data.job}:
        - if (otherstatus === 'Minion')
          h2 Employees in #{user.data.job}
        - each other in others
          - if(other.n.id !== user.id)
            a(href='/friend/#{other.n.id}' class='btn btn-default')= other.n.data.name
      div.col-md-6
        a(href='/myfriends' class='btn btn-default') View Friends