extends layout

block content
  div.container
    div.row
      h1 Graphology
      hr
      div.col-md-6
        p Welcome to the Graph, bitch
        form(method='POST' action='/register')
          div.form-group
            label(for='name') Name:
            input.form-control(name='name')
          div.form-group
            label(for='password') Password:
            input.form-control(type='password' name='password')
          input(type='submit' class='btn btn-default' value='Register')
      div.col-md-6
        form(method='POST' action='/login')
          div.form-group
            label(for='name') Name:
            input.form-control(name='name')
          div.form-group
            label(for='password') Password:
            input.form-control(type='password' name='password')
          input(type='submit' class='btn btn-default' value='Login')